@charset "UTF-8";
/*--zero--*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
* a {
  text-decoration: none;
  color: #f3ba2f;
  transition: all 0.5s ease-in-out;
}
* a:hover {
  color: #1eff00;
  text-shadow: black 0 0 3px;
}
* a:active {
  color: #ffffff;
  text-shadow: black 0 0 2px;
}
* summary {
  list-style: none;
}
* details summary::before {
  content: "☰";
  color: #004189;
}
* details[open] summary::before {
  content: "✖";
  color: #f3ba2f;
}
* li {
  list-style-type: none;
}

/*--zero--*/
body {
  height: 100%;
  margin: 0;
  font-weight: 700;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e1e;
}
.header .logo a img {
  max-height: 60px;
  width: auto;
  display: block;
  box-shadow: #1e1e1e 0 0 3px;
}
.header .hidden-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.4941176471);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2vh;
  padding: 10px;
  z-index: 1000;
}
.header .hidden-menu.visible {
  display: block;
}
.header .menu-toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 25vh;
}
.main .intro {
  text-align: center;
  margin: 20px;
}
.main .intro h1 {
  margin-bottom: 3vh;
}
.main .intro #cryptoSymbol {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.main button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: #f3ba2f;
  border: none;
  border-radius: 5px;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.main button:hover {
  background-color: rgba(9, 255, 0, 0.8549019608);
  color: #ffffff;
  text-shadow: black 0 0 2px;
  transform: scale(1.1);
}
.main .chart-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  height: 500px;
}
.main .chart-section canvas {
  width: 100%;
  height: auto;
}
.main .chart-section .priceChart {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
}
.main .chart-section .chart-info {
  margin: 3vh;
}

.footer {
  width: 100%;
  padding: 10px;
  margin-top: 10vh;
  background-color: #333;
  color: white;
  text-align: center;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .header {
    padding: 15px;
  }
  .main .intro {
    margin: 10px;
  }
  .main .intro #cryptoSymbol {
    width: 90%;
    padding: 5px;
    margin-bottom: 3vh;
    font-size: 14px;
    margin-right: 0;
  }
  .main .intro #cryptoSymbol button {
    width: 50%;
  }
  .main .intro .chart-section {
    height: auto;
    padding: 10px;
  }
  .main .intro .chart-section .priceChart {
    max-width: 100% !important;
    height: 250px;
  }
  .main .intro .chart-section canvas {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 400px) {
  .main .intro {
    margin-bottom: 30vh;
  }
  .main .intro #cryptoSymbol {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */